@import "tailwindcss";
@import "@fontsource/karla";

@source not "../../public";

@theme {
    /* Light Theme (default) */
    --color-primary: #99FFCC;
    --color-primary-hover: #99FFCC;
    --color-secondary: #3A4B54;
    --color-tertiary: #F0998D;
    --color-content: #57656D;

    /* Extended color tokens for components */
    --color-white: #FBFBFB;
    --color-black: #3D3D3D;
    --color-grey: #F3F3EF;
    --color-purple-soft: #F4F0F1;
    --color-purple-medium: #EDF0E1;

    --color-variant1: #C4E9E1;
    --color-variant2: #ACFFCC;
    --color-variant3: #A1C4FA;
    --color-variant4: #FFFF99;

    --color-semantic-error: #F0998D;
    --color-semantic-success: #C4E9E1;
    --color-semantic-notification: #C2EEFF;
    --color-semantic-warning: #FFFFC2;

    --font-body: "Karla", sans-serif;
    --body-regular: 1rem;
    --body-small: 0.875rem;
}
